.register-container {
  height: 100vh;
   display: flex;
  justify-content: center;
  align-items: center;
}

form {
    width: fit-content;
    background-color: rgb(220, 162, 238);
    padding: 20px;
    height:fit-content
}

input {
  padding: 10px 10px;
  margin-bottom: 10px;
  font-size: 22px;
  border-radius: 5px;
  border: none
}
input:focus {
    outline: none
}
.password-field {
    position: relative;
}
.eye-icon {
    position: absolute;
    right: 3%;
    top: 15%

}


